body{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
padding: 0;
  margin: 0;
  font-size: 18px; 
 
   
}
 
 nav {
     float: right;
     color: lightgray;
 }

 nav li {
     display: inline;
     padding-right: 0.9em;
     padding-left: 0.9em;
     border-right: 1px solid lightgray;
 }

 nav a {
     text-decoration: none;
     text-decoration-color: lightgray;
     color: gray;
 }

.name{
    background: #4aaaa5;
    color: white;
    width: 180px;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.content{
    
    background-color: lightgray;  
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: url('file:///Users/sree/Documents/Assignments/Basic-Portfolio/triangle-mosaic.png');
}

.content-block{
    margin-bottom: 15px;
    margin-left:10%;
    margin-right:10%;
    padding:30px 20px 20px 30px;
    width: 960px;
    height: 500px;
    color: #777777;
    background-color: white;  
    border-color: gray;
    
}
.paragraph{
    font-family:'Georgia', Times, Times New Roman, serif;
    line-height: 1.5;

}
.links {
    background-color: white;
    padding-top: 1%;

}

.links-block{
    margin-left:10%;
    margin-right:10%;
    width: 960px;
    height: 50px;
    background-color: white;  
    
}

h3{
    color: #4aaaa5;
    font-weight: bold; 
    font-family: 'Georgia', Times, Times New Roman, serif;
}
img{
    float: left;
    padding-right:20px;
}

.footer{
    background: #4aaaa5;
    color: white;
    height: 35px;
    text-align: center;

}
.bar1{
    background: turquoise;
    width: 100%;
    height: 5px;
}
.bar2{
    background: #666666;
    width: 100%;
    height: 30px;
    color:white;
    text-align: center;
    font-size: 10px;
    padding-top:10px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
} 
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  .images li {
    float: left;

}
.image{
    padding: 30px;
    position: relative;
    height: 150px;
    width: 250px;
}
.desc{
    position: absolute;
    bottom:0px; 
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 250px;
    text-align: center;
}
